<ion-view view-title="Search result for: {{data.query}}">
    <ion-content>
        <ion-list>
            <div class="card repo-item" ng-repeat="item in items track by $index" ng-if="items.length > 0">
                <div class="item item-avatar item-icon-right" href="#">
                    <img cache-src="{{trustSrc(item.owner.avatar_url)}}" expire="{{86400}}" circle-container-style="display:none;">
                    <h2>{{item.name}}</h2>
                    <a ng-click="openAuthorLink($index)">{{item.owner.login}}</a> / <a ng-click="openRepoLink($index)">{{item.name}}</a>
                    <i ng-class="{'icon ion-ios-heart assertive': item.fav, 'icon ion-ios-heart-outline assertive': !item.fav}" ng-click="favorite($index)"></i>
                </div>
                <div class="item item-divider">
                    {{item.description}}
                </div>
            </div>
            <div class="card" ng-if="items.length < 1">
                <div class="item item-text-wrap">
                    No repos are found.
                </div>
            </div>
        </ion-list>
        <ion-infinite-scroll
        ng-if="hasMoreData"
        on-infinite="loadMore()"
        distance="1%">
    </ion-infinite-scroll>
</ion-content>
</ion-view>
