<ion-view view-title="Starred">
    <ion-content>
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="refresh()">
    </ion-refresher>
    <ion-list>
        <div class="card" ng-repeat="item in items track by $index">
            <div class="item item-avatar item-icon-right" href="#">
                <img cache-src="{{trustSrc(item.owner.avatar_url)}}" expire="{{86400}}" circle-container-style="display:none;">
                <h2>{{item.name}}</h2>
                <a ng-click="openAuthorLink($index)">{{item.owner.login}}</a> / <a ng-click="openRepoLink($index)">{{item.name}}</a>
                <i ng-class="{'icon ion-ios-heart assertive': item.fav, 'icon ion-ios-heart-outline assertive': !item.fav}" ng-click="favorite($index)"></i>
            </div>
            <div class="item item-divider">
                {{item.description}}
            </div>
        </div>
    </ion-list>
    <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
    </ion-infinite-scroll>
</ion-content>
</ion-view>
