<ion-view view-title="Favorite">
    <ion-content>
        <ion-list>
            <ion-list>
                <div class="card" ng-repeat="item in favorites track by $index">
                    <div class="item item-avatar item-icon-right" href="#">
                        <img ng-src="{{trustSrc(item.owner.avatar_url)}}">
                        <h2>{{item.name}}</h2>
                        <a ng-click="openAuthorLink(item.full_name)">{{item.owner.login}}</a> / <a ng-click="openRepoLink(item.full_name)">{{item.name}}</a>
                        <i ng-class="{'icon ion-ios-heart assertive': item.fav, 'icon ion-ios-heart-outline assertive': !item.fav}" ng-click="favorite(item.full_name)"></i>
                    </div>
                    <div class="item item-icon-left calm" ng-click="openReadme(item.full_name)">
                        <i class="icon ion-ios-paper"></i>
                        Readme
                    </div>
                </div>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>
